[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
google-cloud-secret-manager = "*"
pyjwt = "*"
requests = "*"

[dev-packages]
black = "22.3.0"
mypy = "0.991"
pylint = "2.15.10"
pytest = "7.2.1"
flake8 = "6.0.0"
pylint-quotes = "*"
responses = "0.22.0"
pytest-cov = "4.0.0"
functions-framework = "3.3.0"
python-dotenv = "0.21.1"
types-requests = "2.28.11.8"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
