[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
google-cloud-secret-manager = "*"
pyjwt = "*"
requests = "*"

[dev-packages]
black = "*"
mypy = "*"
pylint = "2.17.5"
pytest = "*"
flake8 = "*"
pylint-quotes = "*"
responses = "*"
pytest-cov = "*"
functions-framework = "*"
python-dotenv = "*"
types-requests = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = false
